<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.dedal.takedaHbA1c"
        version     = "0.0.1" >
		
		

    <name>HbA1c kalkulator</name>

    <description>
      HbA1c kalkulator by Takeda
    </description>

    <author href="https://dedal.hr" email="info@dedal.hr">
        Jurica Starešinčić
    </author>
	
	
	
	<platform name="android" />
	<platform name="ios" />
	
	<preference name="orientation" value="portrait" />

	
	<icon src="icon.png" />
	
	<preference name="android-build-tool" value="gradle" />
	
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
	<preference name="AllowInlineMediaPlayback" value="true"/>
	<preference name="KeyboardDisplayRequiresUserAction" value="false"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="BackgroundColor" value="0xffffffff"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true"/>
	
	<preference name="SplashScreen" value="none"/>
	
	<plugin name="cordova-plugin-itunesfilesharing" source="npm" />	
	<plugin name="cordova-plugin-device" source="npm" />	
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
	<access origin="*" />

</widget>